name: Build Project

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  pull-requests: read # allows SonarCloud to decorate PRs with analysis results

jobs:
  build:
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node_modules-${{ matrix.os }}-node-${{ matrix.node-version }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            node_modules-${{ matrix.os }}-node-${{ matrix.node-version }}
      - name: Run clean install
        run: npm ci --ignore-scripts

      - run: xvfb-run -a npm test
        if: runner.os == 'Linux'
      - run: npm test
        if: runner.os != 'Linux'

  sonar:
    name: Run eslint and sonar scanning
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x

      - name: Restore cached node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node_modules-ubuntu-latest-node-22.x-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            node_modules-ubuntu-latest-node-22.x
      - name: Run ESLint
        run: npm run lint -- --format json --output-file eslint-results.json || true

      - name: Install Mocha reporters
        run: npm install --ignore-scripts -d mocha-multi-reporters mocha-junit-reporter mocha-sonarqube-reporter
      - name: create mocha config
        run: |
          echo '{
            "reporterEnabled": "spec, mocha-junit-reporter, mocha-sonarqube-reporter"
          }' > config.json
      - name: Run tests with coverage
        run: xvfb-run -a npm test  -- --coverage --coverage-output ./coverage --coverage-reporter lcovonly --reporter mocha-multi-reporters  --reporter-options configFile=config.json

      - name: Analyze with SonarCloud
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: -Dsonar.projectKey=aditosoftware_vscode-logging
            -Dsonar.organization=aditosoftware
            -Dsonar.eslint.reportPaths=eslint-results.json
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
